# Binary artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output directories
bin/
dist/
out/

# Go workspaces
go.work
go.work.sum

# Crash dumps
*.prof
*.test
*.out

# Environment variables & Secrets
.env
.env.*
!.env.example

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom directories
.docs
.archive
*.old
*.ps1
.twig/
.helpers
*_test*